
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */

body{
  background: #FFFFFF url("../img/site-hero.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}
.header {
  grid-area: hd;
  text-align: left;
  font-size: 60px;
  height: 250px;
  font-weight: 500;
  opacity: 0.8;
}
#header2 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  opacity: 0.7;
}
.footer {
  grid-area: ft;
}
.content {
  grid-area: main;
  font-size: 14px;
}
.content p {
  font-family: "Open sans", sans-serif;
  color: #999999;
  line-height: 30px;
}
.content h1 {
  font-size: 23px;
  font-weight: 600;
}
.content h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  opacity: 0.5;
}
.tabs{
  display: flex;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  opacity: 0.5;
  margin-top: 20px;
  padding-bottom: 5px;
  flex-direction: row;
}
#posts, #new{
  color: inherit;
  text-decoration: none;
  padding-right: 15px;
}
#posts:hover, #new:hover{
  background-color: #e1e1e1;
}
.content .post {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: -1px !important;
  padding-bottom: 20px;
}
.post-date{
  display: block;
  background-color: #7beec7;
  height: 20px;
  line-height: 20px;
  padding: 0 15px;
  color: white;
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.post-info span{
  padding-right: 5px;
}
.post-info i{
  color: #cccccc;
  font-size: 18px;
  margin-right: 5px;
}
.post a{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  color: #60606e;
  font-size: 14px;
}
.wrapper {
  width: 1020px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "hd hd hd hd   hd   hd   hd   hd   hd"
    "sd sd sd main main main main main main"
    "sd  sd  sd  ft   ft   ft   ft   ft   ft";
}
* {
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
}
.wrapper > div {
  border-radius: 1em;
  padding: 1em;
  color: #000;
  margin: 10px 5px;
}
@media (min-width: 700px) {
  .wrapper {
    margin-top: 2px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd   hd"
      "sd sd sd main main main main main main"
      "sd sd sd  ft  ft   ft   ft   ft   ft";
  }
}

/* Latest posts sidebar */

.sidebar {
  grid-area: sd;
}
.widget{
  position: sticky;
  top: 0px;
}
.sidebar h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  opacity: 0.5;
}
.latest-post {
  cursor: pointer;
  padding: 15px 10px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: -1px !important;
}
.latest-post .media-left {
    padding-right: 15px;
}
.media-left > i{
  font-size: 17px;
  max-width: none;
  max-width: 90px;
}
.latest-post-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 12px;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.latest-post:hover {
    background-color: #e1e1e1;
}
.media-body a, .media-body a:hover, .media-body a:focus, .media-body a:active {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
