.container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-gap: 20px;
    width: 1020px;
    margin: 0 auto;
  }
  .main{
    grid-area: main;
    font-size: 14px;
    height:auto;
  }